/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
  background-color: #f5f6f8;
	font-family: 'Montserrat', sans-serif;
}

header {
	height: 777px;
	background-image: url("../img/bg/bg_header_1.png");
	 background-repeat: no-repeat;
}

h1 {
	font-family: 'Montserrat Hairline', arial;
  font-size: 6rem;
	line-height: 100px;
	letter-spacing: 50%;
}

h3 {
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 22px;
}

h4 {
		font-size: 1rem;
		font-weight: 300;
}

p {

	font-size: 1.2rem;
	line-height: 22px;
	color: rgba(35, 35, 35, 0.5);
}

.logo_nav{
	height: 150px;
	padding-top: 40px;
}

div.logo_nav a{
	font-size: 1rem;
	text-transform: uppercase;
	margin: 50px 13px;
}

div.logo {
	float:left;
	margin-left: 314px;
	margin-right: 230px;
}

.mount{
	margin-left: 311px;
	margin-top: 70px;
	width: 600px;
}

.caps {
	text-transform: uppercase;
}

.center{
	text-align: center;
}

ul.block {
	width: 100%;
}

ul.block li {
	display: inline-block;
	margin: 0pt 35px;
	/*width: calc(20% - 70px);*/
	width: 248px;
	vertical-align: top;
}

ul.block li *{
	margin-bottom: 20px;
}

.icon {
	width: 60.7px;
}

.build {
	background-color: #ffffff;
	height: 412.5px;
	vertical-align: middle;
}
div.build * {
	color: #232323;
}

.slideshow {
	background-color: #26e6e6;
	height: 898.5px;
}

.list{
	/*width: 383.4pt;*/
	width: calc(24% - 62.4px);
	background-color: #ffffff;
	padding: 37.4px 31.2px;
}

ul.list * {
	margin: 0 0 30px 0;
}

footer{
	height: 857px;
	background-image: url("../img/bg/bg_footer.png");
	 background-repeat: no-repeat;
}

.footer {
	width: 967px;
	height: 278px;
	background-color: #000000;
}
