/*GLOBSL STYLES*/
@font-face {
  font-family: "Besom";
  src: url(../fonts/Besom-free-font.otf) format("opentype");
}



body {
  background-color: #f5f6f8;
  font-family: "Besom", arial, sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: inherit;
}

/*TEXT*/
p {
	font-size: 0.8rem;
	line-height: 22px;
	color: rgba(35, 35, 35, 0.5);
}

.title{
  text-transform: uppercase;
  font-size: 4.5em;
  line-height: 1.1em;
  font-weight: 200;
  letter-spacing: 2.5px;
  margin-bottom: 0.3em;
}

.title_light{
  text-transform: uppercase;
  font-size: 4.5em;
  line-height: 1.1em;
  font-weight: 200;
  text-transform: none;
  margin-bottom: 0.5em;
  letter-spacing: normal;
}
.subtitle{
	text-transform: uppercase;
	font-size: 0.9em;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  text-indent: 6px;
 }

.list_title {
	font-size: 0.9em;
  line-height: 1.5em;
  font-weight: 500;
}

.block.servs .list_title {
  text-transform: uppercase;
}

/*BUTTONS*/

/*LINKS and NAVIGTION*/
nav {
  display: inline-block;
  vertical-align: top;
}

.main_nav a:hover {
  background-color: #000;
  color: #fff;
}

/*IMAGES*/


/*HEADER*/
#main_header{
  position: relative;
  min-height: 100vh;
  height: 100vh;
  background: url("../img/bg/bg_header_1.png") no-repeat left bottom;
  background-size: cover;
}
.logo_nav{
  position: fixed;
  width: 70%;
  left: 0;
  top: 0;
  padding: 3em 20%;
  background: linear-gradient(rgb(245,246,248), rgba(245,246,248,0.1) );
  z-index: 100;

}
.logo {
  display: inline-block;
  vertical-align: top;
  width: calc(10% - 4px);
}

.nav_wrap{
  display: inline-block;
	vertical-align: top;
	width: calc(90% - 4px);
	text-align: right;
}

nav a{
	text-transform: uppercase;
	font-size: 0.7rem;
	line-height: 2.2rem;
	margin: 0 0.5em;
  padding: 0 1em;
	color: rgba(35,35,35,0.5);
}

.mount{
	position: relative;
	height: calc(100vh - 8em);
	top: 8em;
	left: 0;
}

.mount_wrap{
	position: absolute;
	width: 30em;
	top: 14vh;
	left: 20vw;
}

/*MAIN*/

section {
  padding: 7em 14vw;
}
section#services {
  padding-top: 0;
}
.block li {
  display: inline-block;
	vertical-align: top;
	width: calc(23% - 4px);
	text-align: center;
	padding: 2em 2%;
	margin: 0 2%;
}
 .block.servs li:before {
   font-family: FontAwesome;
   font-size: 4em;
   color: #bbb;
   display: inline-block;
   margin-bottom: 0.4em;
 }

.block li *{
  margin-bottom: 2em;
}

.block.servs .list_title {
  min-height: 2em;
  height: 2em;
}

.block.servs p {
  min-height: 7em;
  height: 7em;
  overflow: hidden;
}

a.button_active {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  line-height: 2.2em;
  font-size: 0.8em;
  text-transform: uppercase;
}

a.button_active:hover{
  font-weight: 600;
}

/*SlideShow block*/
#add_srv {
  padding: 0;
  background: url("../img/bg/bg_iPhone.png") no-repeat left bottom;
  background-size: cover;
  text-align: right;
}

div.list_wrapper {
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  text-align: left;
  min-width: calc(28vw - 50px);
  width: calc(28vw - 50px);
  padding: 25px;
  margin: 7em 11vw 7em 0vw;
  position: relative;
}

.list_wrapper .list li {
  display: block;
	width: calc(100% - 2em);
	text-align: left;
	padding: 0;
  margin: 1em;
}

.text_wrap {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 6em);
  padding-left: 1em;
}

.list.servs li:before {
  font-family: FontAwesome;
  font-size: 4em;
  color: #bbb;
  display: inline-block;
  margin-bottom: 0.4em;
}

.list.servs li {
  padding-bottom: 3em;
  padding-top: 0;
}

.list_wrapper .list.servs h3.list_title{
  padding-bottom: 1em;
  padding-left: 0;
}

.button.black {
  display: inline-block;
  vertical-align: top;
  background-color: #000;
  color: #fff;
}

.list_wrapper .list.servs a.button.black{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7rem;
  line-height: 3.2rem;
}

/*FEATURES*/
#features {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.section_header{
  margin: 0;
  text-align: center;
  background-color: #fff;
  padding: 7em 14vw;
}

#features .section_header .title_light{
  text-transform: none;
  margin-bottom: 0.5em;
  letter-spacing: normal;
}

#features .section_header p.list_title {
  padding: 0 23em;
  line-height: 2em;
}

#features ul.block{
  padding: 7em 10vw 7em 16vw;
}

.block li.feature_wrap{
  text-align: left;
}
.feature_wrap p {
  min-height: 7em;
  height: 7em;
  overflow: hidden;
}

/*iPad block*/
#features div.slideshow {
  background-color: #000;
  margin: 0 5vw;
  padding: 10em;
  color: #fff;
  position: relative;
  margin-bottom: 10em;
}

.iPad_slide{
  width: 60%;
}

section#features div.slideshow p{
  display: inline-block;
  width: 20vw;
  margin-right: calc(100% - 20vw);
  margin-bottom: 8rem;
  color: #fff;
}

a.button_blue {
  background-color: #26e6e6;
  border: 2px solid #26e6e6;
  border-radius: 25px;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 0.5em;
  cursor: pointer;
}

div.iPad_img{
  position: absolute;
  top: 19em;
  right: -9em;
}

/*PLATFORM*/
#platform {
  text-align: center;
}

div.platform_wrap ul.block.servs li {
  display: inline-block;
  text-align: left;
}
.title_wrap {
  display: inline-block;
  width: 41vw;
  text-align: center;
  font-weight: 600;
}

.title_wrap *{
  margin-bottom: 2em;
}



/*Icons*/
.block.servs li.icon_img.mail:before{
  content: "\f003";
}

.block.servs li.icon_img.edit:before{
  content: "\f03e";
}

.block.servs li.icon_img.card:before{
  content: "\f25b";
}

.block.servs li.icon_img.card:before{
  content: "\f25b";
}
/*slideshow block*/
.list.servs li.icon_img.browser:before {
   content: "\f2d0";
}

.list.servs li.icon_img.briefcase:before {
   content: "\f0b1";
}

.list.servs li.icon_img.edit:before {
   content: "\f044";
}

.block li.icon_img.gouge:before {
    content: "\f044";
}

.block li.icon_img.chat:before {
    content: "\f0e6";
}

.block li.icon_img.phone:before {
    content: "\f10b";
}

.block li.icon_img.adjustments:before {
    content: "\f1de";
}

.block li.icon_img.cart:before {
    content: "\f218";
}

.block li.icon_img.chart:before {
    content: "\f200";
}
/*Quotes*/
ul.quotes li {
  display: inline-block;
  width: 23%;
  background-color: #fff;
  margin: 0 2rem;
  padding: 2em;
  min-height: 10em;
  vertical-align: top;
}

/*--GALLERY--*/
.block_img li{
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.button_box{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.block_img li:hover .button_box {
  display: block;
}

.button_box:before{
  content: '';
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.button_box .button{
  vertical-align: middle;
  background-color: #26e6e6;
  padding: 0.5em 1em;
  border-radius: 3px;
}

/*PRICES*/
section#prices {
  margin: 0;
  padding: 0;
}

div.prices_wrap {
  padding:7em 14vw;
}

.plan_active:hover {
  background-color: black;
  color: #fff;
}

#prices .plan_active:hover p{
  color: #fff;
}

#prices .plan_active a.button_active {
  vertical-align: middle;
  padding: 0.5em 2em;
  text-transform: uppercase;
}

#prices .plan_active:hover a.button_active{
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #26e6e6;
  padding: 0.5em 2em;
  border-radius: 25px;
  color: #000;
  font-weight: 400;
}

.plan_active p{
  min-height: 7rem;
  height: 7rem;
  overflow: hidden;
}

p.big_price {
  font-size: 3em;
  font-weight: 900;
  color: #000;
  line-height: normal;
  margin-bottom: 0.5em;

}



/*FOOTER*/
#footer {
  height: 80vh;
  color: #fff;
  vertical-align: top;
  background: url('../img/bg/bg_footer.png') no-repeat top left;
  background-size: cover;
  position: relative;
}

#footer p{
  color: #fff;
}

.footer{
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 40vh;
  left: 20vw;
  width: 56%;
  padding: 2em;
}

.logo_white{
  display: inline-block;
  vertical-align: top;
  width: calc(10% - 4px);
}

.footer_nav {
  display: inline-block;
  vertical-align: top;
  width: calc(55% - 4px);
  text-transform: uppercase;
  font-size: 0.8em;
}

.f_nav_wrap {
  display: inline-block;
  vertical-align: top;
  width: calc(33% - 4px);
}

li.f_nav_wrap a{
  display: inline-block;
  width: 100%;
  padding: 0.2em 0.5em;
  margin: 0.3em 0.5em;
}

.ident_wrap {
  display: inline-block;
  vertical-align: top;
  width: calc(35% - 4px);
  text-align: right;
}

.creator_wrap {
  margin-bottom: 6em;
}

.social {
  width: 30px;
  height: 30px;
  padding: 0.3em;
  margin: 0.3em;
}
