/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
  background-color: #f5f6f8;
	font-family: 'Montserrat', sans-serif;
}

header {
	height: 862pt;
	background-image: url("../img/bg/bg_header_1.png");
	 background-repeat: no-repeat;
}

h1 {
	font-family: 'Montserrat Hairline', arial;
  font-size: 6rem;
}

h3 {
	font-size: 2rem;
	font-weight: 300;
}

h4 {
		font-size: 1rem;
		font-weight: 300;
}

p {

	font-size: 1rem;
	color: rgba(35, 35, 35, 0.5);
}

.logo_nav{
	height: 120pt;
	padding-top: 40pt;
}

div.logo {
	float:left;
	margin-left: 314px;
	margin-right: 230px;
}

div.logo_nav a{
	font-size: 1rem;
	text-transform: uppercase;
	margin: 50px 13px;
}

.mount{
	margin-left: 314px;
	margin-top: 40px;
	width: 400pt;
}
.caps {
	text-transform: uppercase;
}

ul.block {
	width: 100%;
}

ul.block li {
	display: inline-block;
	margin: 10pt 35pt 10pt 35pt;
	width: calc(30% - 70px);
}

.icon {
	width: 60.7pt;
}
